/* You could change the font*/

$baseFontFamily: helvetica,sans,serif;

$btnPrimaryBackground: green;
$navbarBackgroundHighlight: white;
$navbarBackground: white;

@import 'bootstrap';

body {
	background: url('http-__www.grfxs.com_fullsize_simple-super-hd.jpg');
	padding-top: 60px;
	font-size: 14px;
	line-height: 20px;
}

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(!important);
	border: 0;
	background-color: #F5F5F5 	  ; /* place your solid color here */
  	background: url('background.png');
  	background-repeat: no-repeat;
  	filter: none;
}

.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}